html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-size: 14px;
}
.container {
    width: auto;
    padding: 80px 40px;
}

.welcome{
    color: #424242;
    font-family: "Dancing+Script";
    letter-spacing: .1em;
    width: 300px;
    text-align: center;
    margin: 40px auto;
    text-transform: lowercase;
    line-height: 145%;
    font-size: 14pt;
    font-variant: small-caps;
}
.smallHeadline{
    font-family: Gill Sans, Verdana;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.largeHeadline{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0; 
    padding-left: 0;
}

ul {
    list-style: none;
}

    
ul.directory li:nth-child(even){
    background-color: #eee;
}
    

ul.sideList li{
    font-size: 10px;
    color: white; 
    margin-left: -20px;
    position: relative;
}

#msg{
    color: #fff; font-size: 120%; position: absolute; text-align: center; top: 80px; left: 0; right: 0; width: 300px; opacity: 1; margin:0 auto; padding:20px; z-index: 899; background-color: #808080;
}

#msgClose {
    float:right;
    display:inline-block;
    padding:2px 15px;
    color:#fff;
}

#msgClose:hover {
    float:right;
    display:inline-block;
    padding:2px 15px;
    color:#000;
}

.bold{
    font-size: 14px;
    font-weight: bolder;
}

.nodata{
    width: 100vw;
    height: 100vh;
    margin: -45px 0 0 0px !important;
    padding: 0 !important;
    background-image: url(includes/images/no-data.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top:0;
    left: 0;
}

#over_map {color: #fff; font-weight: 500; text-transform: uppercase; position: absolute; top: 260px; right: 0px; padding:20px; z-index: 999999;  background-color: #808080;}
#over_map:hover {color: #000;}

/* The side navigation menu */
.sidenav {
    height: 88.5vh; /* height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 30px; /* Stay at the top */
    left: 0;
    background-color: #808080; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav .closebtn:hover {
    color: black;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}